.slider2d {
	display: inline-flex;
	position: relative;
	font-weight: bold;
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.slider2d .slider2d-text {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	
	color: rgba(255, 255, 255, .75);
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.slider2d .slider2d-text:after {
	box-sizing: border-box;
	content: attr(data-label);
	width: 100%;
	margin-top: .25vw;
	color: rgba(255, 255, 255, .5);
	font-size: 1.1vw;
}

.slider2d .slider2d-knob {
	position: absolute;
	width: 1.75vw;
	height: 1.75vw;
	border-radius: 25%;
}
