* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	touch-action: none;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/* Channels */

#channels {
	display: flex;
	position: absolute;
	width: 100%;
	height: calc(100% - 10vw);
}

#channels .channel {
	height: 100%;
	flex: 1;
}

/* Levels */

#levels {
	position: absolute;
	width: 100%;
	height: calc(100% - 10vw);
	bottom: 10vw;
	opacity: .25;
	pointer-events: none;
}

/* Icons */

#icons {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vw;
}

#icons .icon {
	padding: 3.25vw;
	color: white;
	border-top: 5px solid rgba(0, 0, 0, .25);
	cursor: pointer;
	flex: 1;
}

/* Controls */

#controls {
	z-index: 999;
	display: grid;
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#controls .levels {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: .25;
	grid-area: gain;
	pointer-events: none;
}

#controls [onclick] {
	grid-area: back;
}
